.video {
    width: 100%;
}

.video-progress {
    display: inline;
}

.player-progress-bar {
    font-family: Arial, Helvetica, sans-serif;
    .watched {
        color: gray;
    }
}

.player-icon {
    margin: 0 5px 0 5px;
}